{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/resetpassword.css') }}">
{% endblock %}
    
{% block content %}
<div class="form-container">
    <h2>Reset Password</h2>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <form method="POST">
        <input type="password" name="password" placeholder="New Password" required>
        <input type="password" name="confirmpassword" placeholder="Confirm Password" required>
        <button type="submit">Reset Password</button>
    </form>

    <div class="form-links">
        <p>Know your credentials? <a href="{{ url_for('login') }}">Go back to Login</a>.</p>
    </div>
</div>
{% endblock %}

